* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    color: #b0413e;
    font-size: 8vmin;
    
}

#msg {
    color: #ffffc7;
    font-size : 8vmin;
}

.msg-container {
    height: 100vim;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}